[user]
    name = Anthony Oteri
    email = anthony.oteri@edgeware.tv
    signingkey = D06EC44188FCFE5F

[color]
    ui = true
    status = auto

[color "branch"]
    current = green bold
    local = green
    remote = yellow

[color "diff"]

    frag = magenta
    meta = yellow
    new = green
    old = red

[color "status"]

    added = green reverse
    changed = yellow reverse
    untracked = red reverse

[diff]

    algorithm = patience

[diff "bin"]

    textconv = hexdump -v -C

[core]

    editor = /usr/bin/vim
    abbrev = 12
    attributesfile = ~/.gitattributes
    autocrlf = input
    excludesfile = ~/.gitignore
    pager = less -X

[pretty]

    custom = "%C(magenta)%h%C(red)%d %C(yellow)%ar %C(green)%s %C(yellow)(%an)"
    #                     │        │            │            │             └─ author name
    #                     │        │            │            └─ message
    #                     │        │            └─ date (relative)
    #                     │        └─ decorations (branch, heads or tags)
    #                     └─ hash (abbreviated)

[push]

    default = simple
    followTags = true

[init]

    templatedir = ~/.git_template

[merge]

    renamelimit = 2415

[alias]
    a = commit --amend --no-edit
    br = branch
    c = commit
    ca = !git add -A && git commit
    cl = clean -ffdx
    co = checkout
    cp = cherry-pick
    d = diff
    dc = diff --cached
    f = fetch --prune --tags
    g = log --graph --pretty=custom
    l = log --pretty=custom
    lc = shortlog --summary --numbered
    pf = push -f
    r = rebase
    ri = rebase -i
    rlc = reset --hard HEAD~1
    s = status
    ulc = reset --soft HEAD~1

[mergetool]
	keepTemporaries = false
	prompt = false
	keepBackup = false

[difftool]
	prompt = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	required = true
	clean = git-lfs clean -- %f
[rerere]
	enabled = true
[pull]
	rebase = true
[pager]
	branch = false
[commit]
	gpgsign = true
[gpg]
	program = gpg2
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
