[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/anthony/.tmux/plugins/tpm"]
	path = /home/anthony/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
